<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
      <%# <div class="greeting"> %>
        <%# こんにちは、 %>
        <%# <%= link_to "ユーザー名さん", root_path, class: :greeting__link%>
      <%# </div> %>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
      <%= render partial: 'prototype', locals: { message: @prototype } %>
        <%= image_tag message.image, class: 'card__img' if message.image.attached? %>
        <%= form.text_field :protoname, placeholder: "text", rows: "10" %>
        <%= form.text_field :catchcopy, placeholder: "text", rows: "10" %>
        <%= form.text_field :user, placeholder: "text", rows: "10" %>
    </div>
  </div>
</main>
